@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

body{
    background: #24272E;
    color: #fff;
    font-family: Asap,sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
    font-weight: 600;
    border: 3px solid white;
    padding: 10px 20px;
    margin-bottom: 40px;
    text-align: center;
}

.flex
{
    align-items:center ;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    flex-flow: column;
}

#result{
    font-size: 40px;
    color: white;
}

#ans {
    padding: 20px;
    font-size: 30px;
    background: transparent;
    color: white;
    border: 0;
}
#ans:focus{
    outline: 0;
    outline-offset: 0ch;
}

